import React from 'react';

type {{pascalCase name}}Props = {
  /** Add a description comment for each prop. */
};

/** {{sentenceCase description}} */
const {{pascalCase name}} = React.forwardRef<HTMLDivElement, {{pascalCase name}}Props>(({}, ref) => {
  return <div ref={ref}>Hello World</div>;
});

{{pascalCase name}}.displayName = "{{pascalCase name}}";

export { {{pascalCase name}} };
